apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-pkpsxjbf
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-pkpsxjbf:f8df3e5eab50f22a925e28c6da4f8fd1a0df03dc@sha256:9fb80b182d3419861208ba5b502bd981abebd83a40ba0c62f77e8ded11e26acc
          name: container-image
